<!-- Footer -->
<footer class="footer bg-dark" style="">
  <div class="container">
    <div class="row">
      <div class="h-100 text-center text-lg-left my-auto col-md-6">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="/">Home</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a style="text-decoration: none" href="/app">
              SmartMeter App & Chrome Extension
            </a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/partner">Partner with us</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/team">Team</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/about">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/contact">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a style="text-decoration: none" href="/grid">
              Grid App & Chrome Extension
            </a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a style="text-decoration: none" href="/brochure">
              Product brochure
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Energy Lollipop 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a style="text-decoration: none" href="https://twitter.com/energylollipop">
              Twitter
            </a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a style="text-decoration: none" href="https://www.linkedin.com/company/energylollipop/">
              LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


</body>






</html>